* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: #dddddd;
    font-size: 18px;
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    margin: 50px;
}