* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: #dddddd;
    font-size: 18px;
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    margin: 50px;
}

/* Header */
.header {
    display: grid;
    grid-template-areas: 
     'paw paw feature-1'
     'paw paw feature-2';
}

.paw {
    grid-area: paw;
    min-height: 300px;
    background-image: url(img/8x6.png);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.paw > * {
    display: none;
}